.tout 
{
  width:1500px;
  background-color : #8BC095 ;
  text-align : center ;
  align-content :center;
  white-space: nowrap;
}

.texte1
{
  width : 940px;
  margin : 0 auto;
  background-color : palevioletred ;
  text-align : center ;
  align-content :center;
  font-family: 'Gasoek One', sans-serif;
  font-size:xx-large
}

.texte2
{
  width : 940px;
  margin : 0 auto;
  background-color : palevioletred ;
  text-align : center ;
  align-content :center;
  font-family: 'Caladea', serif;
  font-size:medium
}

.bouton-deezer {
  display: inline-block;
  padding: 20px 90px;
  color: #000000;
  background-color : palevioletred ;
  text-decoration: none;
  font-family: "Gasoek One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

  border: none;
  font-size:x-small
  border-radius: 4px;
}

.bouton-deezer:hover {
  background-color: palevioletred;
}


.fin
{
  width:1500px;
  background-color : #8BC095 ;
  text-align : center ;
  align-content :center;
  white-space: nowrap;
}


}
